{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/list.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Country Details</title>
</head>
<body>
    <!-- <div class="container-fluid"style="margin-top:50px; margin-left:40px;">
        <div class=row>
            <div class='col-mid-3'>
                <h1>Country Deatils</h1>
            </div>
            <div class='col-mid-6'style="margin-left:800px; font-size:0.6cm;margin-top:17px;">
               
            </div>
        </div>
    </div> -->
    <a  href="{% url 'index' %}" class="home">HOME</a>
    <h1 class="head1"><i>List of Nation</i></h1> 
    <br>
    <br>
    <br>
    <div class="container">
        <h1 class="head2"><i>{{ content }}</i></h1>
    </div>
</body>
</html>