
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* font-family: 'Roboto Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto+Mono&display=swap');
/* font-family: 'Parisienne', cursive; */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, rgba(204, 129, 214, 0.979), rgb(146, 186, 233));
}
.para{
    font-size: 0.43cm;
    font-family: 'Roboto Mono', monospace;
  
}
.head1{
    margin-top: 34px;
    margin-left: 40px;
    text-shadow: 2px 2px white;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 1.4cm;
}

.home{
    margin-left: 40px;
    float: right;
    margin-top:8px;
    margin-right: 100px;
    font-size: 0.7cm;
    color:black;
    font-weight: bold;
}
.home:hover{
 text-decoration: none;
 color:rgb(252, 252, 252);
 font-weight: bold;
}
.col-mod-4{
    padding:40px;
    margin-left:100px;
    font-family: 'Roboto Mono', monospace;
    width:250px;
    margin-top: 100px;
    padding: 10px;
}
.c1{
    margin-left: 25px;
    color:rgb(19, 19, 19);
    font-weight: bold;
    font-size: 0.5cm;
}
.c1:hover{
    text-decoration: none;
    color:rgb(252, 252, 252);
}
.c2{
    padding:10px;
    margin-left: 10px;
    color:black;
    font-weight: bold;
    font-size: 0.5cm;
}
.c2:hover{
    text-decoration: none;
    color:rgb(252, 252, 252);
}
.c3{
    margin-left: 65px;
    color:black;
    font-weight: bold;
    font-size: 0.5cm;
}
.c3:hover{
    text-decoration: none;
    color:rgb(252, 252, 252);

}
.c4{
    margin-left: 65px;
    color:black;
    font-weight: bold;
    font-size: 0.5cm;
}
.c4:hover{
    text-decoration: none;
    color:rgb(252, 252, 252);
}
.c5{
    margin-left: 70px;
    color:black;
    font-weight: bold;
    font-size: 0.5cm;
}
.c5:hover{
    text-decoration: none;
    color:rgb(252, 252, 252);
}
.c6{
    margin-left: 70px;
    color:black;
    font-weight: bold;
    font-size: 0.5cm;
}
.c6:hover{
    text-decoration: none;
    color:rgb(252, 252, 252);
}
.c7{
    margin-left: 35px;
    color:black;
    font-weight: bold;
    font-size: 0.5cm;
}
.c7:hover{
    text-decoration: none;
    color:rgb(252, 252, 252);
}
.c8{
    margin-left: 64px;
    color:black;
    font-weight: bold;
    font-size: 0.5cm;
}
.c8:hover{
    text-decoration: none;
    color:rgb(252, 252, 252);
}
.c9{
    margin-left: 60px;
    color:black;
    font-weight: bold;
    font-size: 0.5cm;
}
.c9:hover{
    text-decoration: none;
    color:rgb(252, 252, 252);
}
.c10{
    margin-left: 360px;
    color:black;
    font-weight: bold;
    font-size: 0.5cm;
}
.c10:hover{
    text-decoration: none;
    color:rgb(252, 252, 252);
}
.head2{
    margin-left:100px;
    margin-top: 150px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.4cm;
    font-weight: bolder;
    text-shadow: 4px 4px white;

}
.col-mod-3{
    padding:20px;
    font-family: 'Roboto Mono', monospace;
    width:200px;
    margin-left: 70px;
    margin-top: 40px;
}
.s1{
    padding:35px;
    color: black;
    font-size: 0.4cm;
    font-weight: bold; 
}
.s1:hover{
    text-decoration: none;
    color:rgba(247, 247, 247, 0.966);
}
.s2{
    padding:80px;
    color: black;
    font-size: 0.4cm;
    font-weight: bolder; 
}
.s2:hover{
    text-decoration: none;
    color:rgba(247, 247, 247, 0.966);
}
.s3{
    padding: 35px;
    color: black;
    font-size: 0.4cm;
    font-weight: bolder;
}
.s3:hover{
    text-decoration: none;
    color:rgba(247, 247, 247, 0.966);
}
.s4{
    padding:60px;
    color: black;
    font-size: 0.4cm;
    font-weight: bolder;
}
.s4:hover{
    text-decoration: none;
    color:rgba(247, 247, 247, 0.966);
}
.s5{
    padding:75px;
    color: black;
    font-size: 0.4cm;
    font-weight: bolder;
}
.s5:hover{
    text-decoration: none;
    color:rgba(247, 247, 247, 0.966);
}
.s6{
    padding:55px;
    color: black;
    font-size: 0.4cm;
    font-weight: bolder;
}
.s6:hover{
    text-decoration: none;
    color:rgba(247, 247, 247, 0.966);
}
.s7{
    padding:65px;
    color: black;
    font-size: 0.4cm;
    font-weight: bolder;
}
.s7:hover{
    text-decoration: none;
    color:rgba(247, 247, 247, 0.966);
}
.s8{
    padding:65px;
    color: black;
    font-size: 0.4cm;
    font-weight: bolder;
}
.s8:hover{
    text-decoration: none;
    color:rgba(247, 247, 247, 0.966);
}
.s8{
    padding:30px;
    color: black;
    font-size: 0.4cm;
    font-weight: bolder;
    margin-left: 40px;
}
.s8:hover{
    text-decoration: none;
    color:rgba(247, 247, 247, 0.966);
}
.s9{
    padding:70px;
    color: black;
    font-size: 0.4cm;
    font-weight: bolder;
    margin-left: 160px;
}
.s9:hover{
    text-decoration: none;
    color:rgba(247, 247, 247, 0.966);
}
.s10{
    padding:65px;
    color: black;
    font-size: 0.4cm;
    font-weight: bolder;
    margin-left: 200px;
}
.s10:hover{
    text-decoration: none;
    color:rgba(247, 247, 247, 0.966);
}
.col-mod-4{
    padding:20px;
    font-family: 'Roboto Mono', monospace;
    width:250px;
    margin-left: 70px;
    margin-top: 40px;

}
.a1{
    padding:5px;
    margin-left: 30px;
    font-size: 0.4cm;
    font-weight:bold;
}
.a2{
    padding:5px;
    margin-left:50px;
    font-size: 0.4cm;
    font-weight:bold;
}
.a3{
    padding:5px;
    margin-left:70px;
    font-size: 0.4cm;
    font-weight:bold;
}
.col-mod-6{
    padding:20px;
    font-family: 'Roboto Mono', monospace;
    width:200px;
    margin-left: 200px;
}
.a4{
    padding:5px;
    margin-left:50px;
    font-size: 0.4cm;
    font-weight:bold;
}
.a5{
    padding:5px;
    margin-left:50px;
    font-size: 0.4cm;
    font-weight:bold;
}
.b1{
    padding:5px;
    margin-left: 75px;
    font-size: 0.4cm;
    font-weight:bold;
}
.b2{
    padding:5px;
    margin-left: 75px;
    font-size: 0.4cm;
    font-weight:bold;
}
.d1{
    /* himachal ps */
    padding:5px;
    margin-left: 40px;
    font-size: 0.4cm;
    font-weight:bold;
}
.d2{
    /* kar bangalore */
    padding:5px;
    margin-left: 55px;
    font-size: 0.4cm;
    font-weight:bold;

}
.d3{
    /* kerala thriu */
    padding:5px;
    margin-left: 25px;
    font-size: 0.4cm;
    font-weight:bold;

}